@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --muted: 0 0% 92%;
    --muted-foreground: 0 0% 33%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --border: 0 0% 80%;
    --border-strong: 0 0% 0%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 0%;

    --accent: 210 100% 35%;
    --accent-foreground: 0 0% 100%;

    --ring: 0 0% 0%;
    --radius: 0;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 93%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 93%;

    --border: 0 0% 25%;
    --border-strong: 0 0% 93%;

    --primary: 0 0% 93%;
    --primary-foreground: 0 0% 7%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 93%;

    --accent: 210 100% 60%;
    --accent-foreground: 0 0% 7%;

    --ring: 0 0% 93%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-serif antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display tracking-tight;
  }
}

@layer utilities {
  .border-strong {
    border-color: hsl(var(--border-strong));
  }
}
